//- レイアウト読み込み
extend /_include/_layoutPages

//- ここでjsonと紐付ける。配列2個目なら、2
block id
  - var id = 7

//- ここが自由記述エリア。動作サンプルを実装する。
block sampleContent
  .wrap
    <svg width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40"/></svg>

  p ローディングっぽいsvgを自作しちゃうのがポイント。視力検査みたいな一部欠けた円が目標物。
  p svgはstroke-dasharrayというプロパティで破線を表現でき、その指定方法は、線・隙間・線・隙間というふうに交互に値を与える。
  p 今回は欠けた分の長さの線、が指定できればいい。それを表現するには円周(直径*π)-20pxぐらい。<br>なので `stroke-dasharray: calc(80 * 3.14 - 20);` でおっけい。
  p 動きについては割愛。
  a(href="https://lopan.jp/loading-circle/", target="_blank", rel="noopener noreferrer").c-btn.u-mt30 参考サイト

block browserContent
  p.u-mt30 safariだとアニメのループに少し違和感あり。少しチカっとする。