extend /_include/_layoutPages

block id
  - var id = 19

block sampleContent
  p transform:translateXで左右に動くkeyframeをつくりそれを適用。揺れ幅は5px→3px→2pxと徐々に小さくしている。
  .hover_item_wrap
    .swingHorizontal Hover me
  a.u-mt30(href="https://ui-snippets.dev/", target="_blank", rel="noopener noreferrer").c-btn 元ネタ

