extend /_include/_layoutPages

block id
  - var id = 18

block sampleContent
  p 左から右へ箱が抜ける＆取り消し線
  .hover_text_item
    .lineThrough Hover me
  a.u-mt30(href="https://ui-snippets.dev/", target="_blank", rel="noopener noreferrer").c-btn 元ネタ

