// 04


// 05
.circleScaleBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.circleScaleBtn span {
  z-index: 1;
  position: relative;
}

.circleScaleBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity .4s cubic-bezier(.19, 1, .22, 1), transform .75s cubic-bezier(.19, 1, .22, 1);
  background-color: hsl(243, 80%, 62%);
  opacity: 0;
}

.circleScaleBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
  opacity: 1;
  transition-duration: .85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
}

// 06
.pushUpBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  border-radius: 6px;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.pushUpBtn:hover {
  transform: translate3d(0px, -1px, 0px);
  background-color: hsl(222, 100%, 92%);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

// 07
.snapLeftBtn {
  text-align: center;
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  position: relative;
  border-radius: 6px;
  color: hsl(243, 80%, 62%);
  overflow: hidden;
}

.snapLeftBtn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transform: translateX(-101%);
  background: hsl(243, 80%, 62%);
  transition: transform .25s ease-in;
}

.snapLeftBtn:hover::before {
  transform: translateX(0);
}

.snapLeftBtn span {
  position: relative;
  z-index: 1;
  display: block;
  transition: color 0.1s .15s ease-in;
}

.snapLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
  animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  35% {
    transform: translateX(20px);
    opacity: 0;
  }

  50.001% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(0px);
  }

}

// 08
.magnifyBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  border-radius: 6px;
  transition: transform 250ms ease-in-out;
}

.magnifyBtn:hover {
  transform: scale(1.10);
}

.magnifyBtn:active {
  transform: scale(.9);
}


// 09
.magnifyBorder {
  padding: 18px 36px;
  border-radius: 61px;
  box-shadow: inset 0 0 0 2px hsl(243, 80%, 62%);
  transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
  ;
  color: hsl(243, 80%, 62%);
}

.magnifyBorder:hover {
  box-shadow: inset 0 0 0 4px hsl(243, 80%, 62%);
  color: hsl(243, 80%, 62%);
}


// 10
.buttonOverlay {
  padding: 12px 24px;
  position: relative;
  color: hsl(243, 80%, 62%);
}

.buttonOverlay span {
  position: relative;
  z-index: 1;
}

.buttonOverlay::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  right: 5px;
  background-color: hsl(222, 100%, 95%);
  transition: transform .2s ease-in-out;
}

.buttonOverlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #474E51;
  transition: transform .2s ease-in-out;
}

.buttonOverlay:hover::before {
  transform: translate(6px, -4px);
}

.buttonOverlay:hover::after {
  transform: translate(-6px, 4px);
}


// 11
.horizontalOverlay {
  overflow: hidden;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  position: relative;
  display: inline-block;
}

.horizontalOverlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(243, 80%, 62%);
  opacity: 0.1;
  transform: scaleX(0);
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
  will-change: transform;
}

.horizontalOverlay:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}



.pulseBtn {
  box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
  }
}