svg {
  fill: none; //塗りつぶし
	stroke: dodgerblue; //線の色
  stroke-width: 10;//先の太さ,px計算
  stroke-dasharray: calc(80 * 3.14 - 20);
  stroke-linecap: round;

  animation: loader 1.4s infinite cubic-bezier(.4,0,.3,1), loading 1.2s infinite linear;
  @keyframes loader {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -460; }
  }
  @keyframes loading {
    from { transform: none; }
    to { transform: rotate(360deg); }
  }
}
