
:root{
  --coef-base-width: 1;
}
.wrap{
  height: 4000px;
  position: relative;
}
.block1 {
  position: sticky;
  top: 0;
  background: url(../../img/cyberpunk.gif);
  background-size: cover;
  min-width: 40vw;
  max-width: 60vw;
  width: calc(40vw * var(--coef-base-width));
  height: 150px;
  clip-path: polygon(0% 0%, 78% 0%, 80% 24%, 75% 28%, 89% 30%, 78% 31%, 78% 38%, 95% 40%, 95% 45%, 100% 47%, 100% 99%, 96% 98%, 92% 100%, 0% 99%);
}
