#mouseStalker {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.2s;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 10;
  // background: rgba(0, 0, 0, 0.5);
}

.links {
  display: flex;
  button + button {
    margin-left: 40px;
  }
}
