#mouseStalker {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.2s;
  transition-timing-function: ease-out;
  pointer-events: none;
  z-index: 10;
}

.links {
  display: flex;
  > button {
    font-size: 16px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: #ccc;
    }
    & + button {
      margin-left: 60px; 
    }
  }
}
