@use '../../../_foundation/mixin' as *;

.pg-scale-center-slider {
  .swiper-container {
    width: 100%;
    margin-top: 40px;
    position: relative;
    @include mq() {
      margin-top: 90px;
    }
  }

  .swiper-slide {
    overflow: hidden;
    opacity: 0.6;
    transition: 0.7s;
  }

  .swiper-slide img {
    width: 100%;
  }

  .swiper-slide-active {
    z-index: 1;
    opacity: 1;
    transform: scale(1.2); /* スライドの大きさ調整 */
  }
}
