extend /_include/_layoutPages

block id
  - var id = 21

block sampleContent
  p マーカー風の枠線が広がる
  .hover_text_item
    .borderMarker Hover me
  a.u-mt30(href="https://ui-snippets.dev/", target="_blank", rel="noopener noreferrer").c-btn 元ネタ

