.hover_item_wrap {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

// 09
.borderLeftRight {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #1b202d;
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5851ec;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// 17
.borderFade {
  cursor: pointer;
  padding-bottom: 1px;
  color: hsl(222, 25%, 14%);
  position: relative;
}
.borderFade::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  background: hsl(243, 80%, 62%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.borderFade:hover::after {
  opacity: 1;
  transform: translateY(0);
}

// 18
.lineThrough {
  cursor: pointer;
  color: hsl(222, 25%, 14%);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.lineThrough::before {
   content: '';
   position: absolute;
   top: 50%;
   background: hsl(243, 80%, 62%);
   height: 2px;
   left: 0;
   width: 100%;
   transform: translate3d(-101%, 0, 0);
   transition: transform 0.7s ease-in-out;
}
.lineThrough::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: hsl(243, 80%, 62%);;
   transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
   transition: transform 0.7s ease-in-out;
}
.lineThrough:hover::after {
   transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
}
.lineThrough:hover::before {
  transform: translate3d(0, 0, 0);
}

// 19
.textTransformX {
  cursor: pointer;
  color: hsl(222, 25%, 14%);
  transition: transform 0.2s ease, color 0.2s ease;
}
.textTransformX:hover {
  transform: translateX(4px);
  color: hsl(243, 80%, 62%);
}

// 20
.swingHorizontal {
  cursor: pointer;
  color:hsl(222, 25%, 14%);
}
.swingHorizontal:hover
{
  animation: swingHorizontal 1s ease;
  animation-iteration-count: 1;
}
@keyframes swingHorizontal
{
  15%
  {
      transform: translateX(5px);
  }
  30%
  {
      transform: translateX(-5px);
  }
  50%
  {
      transform: translateX(3px);
  }
  65%
  {
      transform: translateX(-3px);
  }
  80%
  {
      transform: translateX(2px);
  }
  100%
  {
      transform: translateX(0);
  }
}

// 21
.borderMarker {
  position: relative;
  cursor: pointer;
}
.borderMarker span {
    z-index: 1;
    position: relative;
}
.borderMarker::after {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  height: 100%;
  transform: scaleY(.3);
  transition: transform .1s ease-in-out;
  transform-origin: bottom;
  background-color: hsl(222, 100%, 93%);
  // 追記
  z-index: -1;
}
.borderMarker:hover::after {
  transform: scaleY(1);
}

// 22
.magnifyText {
  cursor: pointer;
  color: hsl(222, 25%, 14%);
  transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.magnifyText:hover {
  transform: scale(1.05);
  color: hsl(243, 80%, 62%);
}
.magnifyText:active {
  transform: scale(.9);
}

// 23
.siblingFade span {
  display: block;
  cursor: pointer;
  padding: 1rem 0;
  transition: opacity 0.2s;
}
.siblingFade:hover span:not(:hover) {
  opacity: 0.5;
}


// ボタン系
.hover_btn_item {
  display: inline-block;
  padding: 15px 30px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

// 09
.pressDownButton {
  border-bottom: 4px solid hsl(221, 89%, 85%);
  transition: all 0.1s ease-in-out;
}
.pressDownButton:hover {
  border-bottom-width: 0;
  margin-top: 3px;
}

// 10
.overlayLeftBtn span {
  color: hsl(243, 80%, 62%);
  position: relative;
  z-index: 1;
  transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}
.overlayLeftBtn::before {
  content: '';;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: hsl(243, 80%, 62%);
  transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);;
}
.overlayLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
}
.overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}

// 11
.slideUpBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 2px solid hsl(243, 80%, 62%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(1, .15, .34, .92)
}

.slideUpBtn span {
  display: inline-block;
  transition: inherit;
  color: hsl(243, 80%, 62%);
}

.slideUpBtn:hover span {
  opacity: 0;
  transform: translateY(-100%)
}

.slideUpBtn::before {
  content: "";
  background-color: hsl(243, 80%, 62%);
  ;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: inherit;
  width: 100%;
  transition: transform 0.5s cubic-bezier(1, .15, .34, .92)
}

.slideUpBtn::after {
  content: 'Hover me';
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: inherit;
  transform: translateY(100%);
  width: 100%;
}

.slideUpBtn:hover::before {
  transform: translateY(0) scale(3);
  transition-delay: .025s;
}

.slideUpBtn:hover::after {
  opacity: 1;
  color: hsl(222, 100%, 95%);
  transform: translateY(0);
}