@use '../_foundation/mixin'as *;

.l-container {
  width: calc(100% - 20px - 20px);
  margin-right: auto;
  margin-left: auto;

  @include mq() {
    max-width: 860px;
  }
}

.l-pages {
  padding: 50px 0;

  &_head {
    h1 {
      font-size: 35px;
      letter-spacing: 0.02em;
      line-height: 1.3;
    }

    margin-bottom: 50px;
  }

  &_content {
    >section {
      margin-bottom: 50px;

      h2 {
        font-size: 20px;
        margin-bottom: 15px;
      }

      p {
        width: 100%;
        line-height: 1.7;

        >a {
          color: cornflowerblue;
          display: inline;

          &:hover {
            text-decoration: underline;
          }
        }

        +p {
          margin-top: 20px;
        }
      }
    }

    &_H3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;

      >h3 {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }

    &_caption {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;

      li {
        line-height: 1.3;
        margin-right: 15px;
      }
    }
  }

  &_table {
    overflow-x: auto;

    table {
      width: 100%;
    }

    th,
    td {
      border: 1px solid #333;
      text-align: center;
      vertical-align: middle;
      border-collapse: collapse;
      min-width: 107px;
    }

    tbody td {
      height: 40px;

      &[data-status="○"] {
        background-color: #aaff87;
      }

      &[data-status="△"] {
        background-color: #fdff87;
      }

      &[data-status="☓"] {
        background-color: #ff8d87;
      }
    }
  }

  // ↓整理済み
  .desc {
    line-height: 1.6;

    code {
      background: #f6f6f6;
      border-radius: 5px;
      border: 1px solid #ddd;
      padding: 3px;
      color: crimson;
    }

    pre {
      margin-top: 10px;
      padding: 10px;
      background-color: #333;
      color: #fff;

      code {
        background-color: inherit;
        color: inherit;
        border: none;
        padding: 0;
      }
    }

    ul {
      li {
        list-style: disc;
      }
    }
  }

  &_relations {
    a {
      color: skyblue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}