@use '../_foundation/mixin' as *;

// なるべく避ける、いずれ消す
.u-mt30 {
  margin-top: 30px;
}
// こっちを使っていきたい
.u-margin-l {
  margin-top: 48px;
  @include mq() {
    margin-top: 80px;
  }
}
.u-margin-xl {
  margin-top: 80px;
  @include mq() {
    margin-top: 144px;
  }
}
.u-hidden {
  display: none;
}
