doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cyberpunk
    link(rel="stylesheet", href="/assets/css/style.css")
    link(rel="stylesheet", href="/assets/css/pages/cyberpunk.css")
  body
    .wrap
      .block1
      .block2
      dl.text
        dt Cyberpunk
        dd EdgeRunners
      .block3
      .block4
    <script src="/assets/js/pages/cyberpunk.js"></script>
