//- レイアウト読み込み
extend /_include/_layoutPages

//- ここでjsonと紐付ける。jsonのidの値（配列の何番目かわかりやすくしてるだけ
block id
  - var id = 14

//- ここが自由記述エリア。動作サンプルを実装する。
block sampleContent
  p easing（イージング）とは、アニメーションの変化のタイミングを指定する関数です。#[br]デフォルトで用意されたlinear, ease, ease-in, ease-out, ease-in-outの5つの値を指定できる他、より詳細な変化タイミングをcubic-bezier()で指定できます。
  p 5つのサンプルの動作をご紹介します。すべて左に2秒かけて180px移動
  p.u-mt30 linear（リニア）（最初から最後まで一定の速度
  .box.linear
  p.u-mt30 ease（cssアニメーションのデフォルト値はこの子）（ゆっくり始まり、急に速度を上げて、ゆっくり終わる。
  .box.ease
  p.u-mt30 ease-in（ゆっくり始まり、徐々に加速
  .box.ease-in
  p.u-mt30 ease-out（速い速度で始まり、徐々に減速
  .box.ease-out
  p.u-mt30 ease-in-out（ゆっくり始まり、徐々に加速して、アニメーション終了手前で減速
  .box.ease-in-out

  .u-mt30
    p cubic-bezier()関数については下記サイトで指定,動作確認がおすすめ
  a(href="https://cubic-bezier.com/", target="_blank", rel="noopener noreferrer").c-btn.u-mt30 cubic-bezier.com

  .u-mt30
    a(href="https://www.ipentec.com/document/css-easing-animation", target="_blank", rel="noopener noreferrer").c-btn 今回のサンプルのアイデア元

