//- レイアウト読み込み
extend ../_layout/pages

//- ここでjsonと紐付ける。jsonのidの値
block id
  - var id = 2

//- ここが自由記述エリア。動作サンプルを実装する。
block sampleContent
  p 自由記述。
  button#js-reload 画面のリロード

//- 説明エリア。実装方法、参考サイトなどを書く。
block descContent
  p 説明です。
  a(href="", target="_blank", rel="noopener noreferrer").c-btn 参考サイト1
