//- レイアウト読み込み
extend /_include/_layoutPages

//- 追加cssがあれば
block addCss

//- 追加jsがあれば
block addJs

//- ここでjsonと紐付ける。jsonのidの値（配列の何番目かわかりやすくしてるだけ
block id
  - var id = 2

//- ここが自由記述エリア。動作サンプルや解説を記述する。
block sampleContent
  p 自由記述。
  button#js-reload 画面のリロード