.l-floatArea
  a(href="/").l-floatArea_btn.c-arrowBtn.-l
  button.l-floatArea_btn#js-modal-on ?

.l-floatArea_body#js-modal-body
  .head
    .l-container.head_inner
      button.c-arrowBtn.-l#js-modal-off
      p アニマトメ
  .body
  include /_include/_pageContent
  
h1.u-hidden=name_jp
.contents!=html

//- ぬめtech