//- レイアウト読み込み
extend /_include/_layoutPages

//- ここでjsonと紐付ける。jsonのidの値（配列の何番目かわかりやすくしてるだけ
block id
  - var id = 15

//- ここが自由記述エリア。動作サンプルを実装する。
block sampleContent
  .wrap
    .item
  p 動かす円はこちら。#[br]cssでborderの色を白の半透明にしてbox-shadowで水色のぼかしを表現しているのがポイント

  h3.u-mt30 1つだけ
  .wrap
    .item.anime
  p css:transformでscaleを操作している。0→0.8→1.5。#[br]途中で止まるような動きが気になったのでイージングは「linear」（一定速度）でやってみた。

  h3.u-mt30 2つ
  .wrap
    .item.anime
    .item.anime.delay
  p .3sおくらせて同じ要素をアニメさせる。
  a(href="https://chinen-octtn.github.io/modal-modeless-test/", target="_blank", rel="noopener noreferrer").u-mt30.c-btn Inspiration by This page

