extend /_include/_layoutPages

block id
  - var id = 01

block sampleContent
  section.l-pages_content_H3
    h3 1. 矢印
    a(href="#").c-btn 一覧を見る
  section.l-pages_content_H3
    h3 2. 画像
    .img
  p 常時発動します。ホバーで止まります。
  p cssアニメーションはblock要素（or inline-block）でないと効かない。
  p cssアニメーションでtraslateを変化させている。静(0)→動(50)→静(100)のようにアニメーションを書く。
  p infiniteを指定することで延々と動く。
  p ホバーしたときanimation-play-state: paused;が効いて、止まる。

