extends /_include/_layout
append variables
  - var title ='アニマトメとは？'
  - var directory ='/about/'
  - var imgPath = '/assets/img/'
block css
block js

block body
  main.p-under
    .l-container
      h1 アニマトメとは？

      include /_include/_menu
      +Menu(2)

      p cssアニメーションを主軸に、web上で動作するアニメーションをまとめていくサイトです。#[br]このサイトはフロントエンドエンジニア堂寺 (ぬめちゃ)が個人が私的に開発しているものです。gulpを前提としたpug,scss,js,microCMS,ローカルストレージを使用しています。
      p 共同開発者募集中です。また不具合報告も募集中です。詳細は#[a(href="https://github.com/dorara-m/ani-matome" target="_blank") Github]へPRお願いします。
      p
        |個人のモチベ上昇のため主の箱推し
        a(href="https://umamusume.jp/character/", target="_blank", rel="noopener noreferrer") 「ウマ娘プリティーダービー」
        |のキャラクターに更新情報＋αの告知チャットをしてもらうことがあります。（右下メッセージ）
