doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title アニマトメ
    meta(name="description" content="cssアニメーションをまとめたサイト。")
    link(rel="stylesheet", href="/assets/styles/main.css")
    - var imgPath = "/assets/images/"
  body
    .l-wrap
      .p-top
        .p-top_head
          .l-container
            h1
              |アニマトメ
              span -animatome-

        -
          var list = items.map(
            function(item) {
              return item.category
            }
          );
          var categoryList = list.filter(
            function(x, i, self){
              return self.indexOf(x) === i
            }
          );
        
        .p-top_body
          .l-container
            ul.p-top_tab
              li.active サンプル集
              li リンク集
            
            .p-top_contents
              section
                h2 サンプル集
                each category in categoryList
                  section
                    h3=category
                    ul.u-flex
                      -
                        var targetItems = items.filter(
                          function(item) {
                            return item.category === category
                          }
                        )
                      each val, key in targetItems
                        li
                          a(href=val.name_en+"/")
                            .img(style="background-image: url("+imgPath+"gif/"+val.name_en+".gif);")
                            h4=val.name_jp
              
              section
                h2 リンク集
                table
                  thead
                    tr
                      th タイトル
                      th カテゴリー
                      th url
                      th サンプル
                  tbody
                    tr
                      td あにめ
                      td ホバー
                      td
                        a(href="https://lopan.jp/loading-circle/", target="_blank", rel="noopener noreferrer") https://lopan.jp/loading-circle/
                      td
                        a(href="/circle01/") ぼたん

  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src="/assets/scripts/main.js")
  