extend _layout/layout

block vars
  - 
    var imgPath = "/assets/images/"
    var meta = {
      title: "アニマトメ",
      desc: "cssアニメーションをまとめたサイト。"
    }

block content
  .p-top
    .p-top_head
      .l-container
        h1
          |アニマトメ
          span -animatome-
        p cssアニメーションをまとめたサイト。「オノマトペ」的な。

    .p-top_body
      .l-container
        section#decos
          h2 装飾系
          ul.u-flex
            each val, key in decos
              li
                a(href=val.link)
                  .img(style="background-image: url("+imgPath+"gif/"+val.img+");")
                  h3=val.name
        section#loads
          h2 ローディング, 遷移系
          ul.u-flex
            each val, key in loads
              li
                a(href=val.link)
                  .img(style="background-image: url("+imgPath+"gif/"+val.img+");")
                  h3=val.name