extend _layout/layout

block vars
  - 
    var imgPath = "/assets/images/"
    var meta = {
      title: "アニマトメ",
      desc: "cssアニメーションをまとめたサイト。"
    }

block content
  .p-top
    .p-top_head
      .l-container
        h1 アニマトメ
        p cssアニメーションをまとめたサイト。

    .p-top_items
      .l-container
        ul.u-flex
          each val, key in items
            li
              a(href=val.link)
                h2=val.name
                .img(style="background-image: url("+imgPath+val.img+");")