.c-list {
  &_disc {
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  li {
    flex-basis: 50%;
    max-width: 50%;
    counter-increment: cnt;
    padding: 10px;
    dl {
      border: 1px solid #444;
      border-radius: 5px;
      padding: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 150px;
    }
    dt {
      position: absolute;
      top: 10px;
      left: 10px;
      &::before {
        content: "0"counter(cnt);
        margin-right: .5em;
      }
      font-weight: bold;
      color: brown;
      margin-bottom: 15px;
    }
    dd {
      margin-top: 15px;
    }
  }
}