@use '../_foundation/_mixin'as *;

.p-top {
  padding: 40px 0;
  position: relative;

  &_head {

    .title {
      margin-bottom: 50px;

      @include mq() {
        margin-bottom: 40px;
      }

      h1 {
        font-size: 40px;
        letter-spacing: 0.03em;

        @include mq() {
          font-size: 50px;
        }

        span {
          margin-left: 10px;
          font-size: 16px;

          @include mq() {
            font-size: 30px;
          }
        }
      }
    }
  }

  &_about {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: .2s;

    &:hover {
      background: #444;
      color: #fff;
    }
  }

  &_body {
    section+section {
      margin-top: 80px;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: -20px -10px;

      @include mq() {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      >li {
        padding: 20px 10px;

        @include mq() {
          width: 33.3%;
        }

        h2 {
          text-align: center;
          font-weight: bold;
          line-height: 1.6;
        }

        .img {
          border: 1px solid #ddd;
          height: 180px;
          margin-bottom: 10px;
          background-position: center;
          background-size: cover;
        }
      }
    }
  }
}