.p-top {
  padding: 40px 0;
  &_head {
    margin-bottom: 50px;
    h1 {
      font-size: 40px;
      letter-spacing: 0.03em;
      margin-bottom: 20px;
      span {
        margin-left: 10px;
        font-size: 30px;
      }
      @include mq(tablet) {
        font-size: 50px;
      }
    }
  }

  &_body {
    section + section {
      margin-top: 50px;
    }
    h2 {
      font-size: 22px;
      margin-bottom: 15px;
    }
    ul {
      margin: 0 -10px;
      > li {
        width: 33.3%;
        padding: 10px;
        h3 {
          text-align: center;
        }
        .img {
          height: 180px;
          margin-bottom: 10px;
          background-position: center;
          background-size: cover;
        }
      }
    } 
  }
}