.p-top {
  padding: 40px 0;
  &_head {
    margin-bottom: 40px;
    h1 {
      font-size: 50px;
      letter-spacing: 0.03em;
      margin-bottom: 25px;
      span {
        margin-left: 10px;
        font-size: 30px;
      }
    }
  }

  &_tab {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    li {
      padding: 0 20px;
      color: #999;
      &.active {
        color: #333;
      }
    }
  }

  &_contents {
    padding-top: 30px;
    h2 {
      display: none;
    }
    section + section {
      margin-top: 50px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    ul {
      margin: 0 -10px;
      > li {
        width: 33.3%;
        padding: 10px;
        h4 {
          text-align: center;
          font-weight: bold;
        }
        .img {
          border: 1px solid #ddd;
          height: 180px;
          margin-bottom: 10px;
          background-position: center;
          background-size: cover;
        }
      }
    } 
  }
}