extend /_layout/pages

block id
  - var id = 3

block sampleContent
  button#js-reload もう1回
  .roundWrap
    .round.round1
    .round.round2
    .round.round3
    img(src="/assets/images/cat01.jpg", alt="").item


block descContent
  a(href="https://youtu.be/9vK6efqHl_k?t=63", target="_blank", rel="noopener noreferrer").c-btn 参考元の動画