extend ../_layout/pages

block vars
  - 
    var meta = {
      title: "円が広がってアイテムがスライドイン",
      desc: "",
      dir: "roundShow01"
    }
    // ○:0, △:1, ☓:2, 確認中:3
    var blowser = {
      chrome: 3,
      edge: 3,
      firefox: 3,
      ie: 3,
      safari: 3,
      android: 3,
      ios: 3
    }

block sampleContent
  button#start スタート
  .roundWrap
    .round.round1
    .round.round2
    .round.round3
  //- .round.round-shadow
  //- img(src="/assets/images/cat01.jpg", alt="").item


block descContent
  p 説明を書いてください。