extend /_include/_layoutPages

block id
  - var id = 18

block sampleContent
  p 色変わりながらちょっと字下げ
  .hover_item_wrap
    .textTransformX Hover me
  a.u-mt30(href="https://ui-snippets.dev/", target="_blank", rel="noopener noreferrer").c-btn 元ネタ

