extend /_include/_layoutPages

block id
  - var id = 16

block sampleContent
  p 下から枠線がふわっと出てくる
  .hover_item_wrap
    .borderFade Hover me
  a.u-mt30(href="https://ui-snippets.dev/", target="_blank", rel="noopener noreferrer").c-btn 元ネタ

