extend /_include/_layoutPages

block id
  - var id = 3

block sampleContent
  button#js-reload もう1回
  .roundWrap
    .round.round1
    .round.round2
    .round.round3
    img(src="/assets/img/cat01.jpg", alt="").item


block descContent
  a(href="https://youtu.be/9vK6efqHl_k?t=63", target="_blank", rel="noopener noreferrer").c-btn 参考元の動画
  p.u-mt30 firefoxで円の縁？が残ってしまうような崩れあり
